html, body {
	margin: 0;
	padding: 0
}

* {
	box-sizing: border-box;
}


h1 {
	text-align: center;
    margin: 100px;
}


.first, .second, .third{
	border: 1px solid black;
	background-color: #5b585e;
	color: white;
}

section {
	float: right;
	padding: 10px 30px;
	border: 1px solid black;
	color: black;
	
}

.outer p {
	margin-top: 40px ;
	padding: 10px;
}

#a {
	background-color: #f45642;
}

#b {
	background-color: #42f4c2;
}

#c {
	background-color: #aa42f4;
}

/*large screens*/
@media (min-width: 992px) {
    .outer {
	/*border: 1px solid black;*/
	padding: 0px 0px 0px 200px;
}
	.first, .second, .third {
		width: 25%;
		float: left;
        margin: 10px;
	}
}

/*medium screens*/
@media (min-width: 768px) and (max-width: 991px){
    .outer {
        padding: 10px;
        
    }
    
    .first, .second {
        width: 47.5%;
        float: left;
        margin: 9px;
        
    }
    
    .third {
        clear: both;
        margin: 10px;
    }
   
}

/*small screens*/
@media (max-width: 767px) {
    .outer {
        padding: 10px; 
        margin: 10px;
        
    }
    .first, .second, .third {
        width: 100%;
        margin: 10px auto;
                        
    }
}
